$content-width: 800px;
$main: #19ccaa;
$font-style: 'aktiv-grotesk', sans-serif;
$font-color: #355182;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'aktiv-grotesk', sans-serif;
$heading-font-color: #355182;
$light: #e7edf4;
$header: #1d1425;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}