* {
  font-family: aktiv-grotesk, sans-serif, arial;
  color: #355182;
}

html{
  font-size: 100%;
}

.image-container {
  display: grid;
  grid-column: 1, 1;
}

.image-item{
  width: 100%;
}

.coming-soon{
  font-size: 2rem;
  text-align: center;
}

.footer{
  font-size: 1rem;
  text-align: center;
}