* {
  font-family: aktiv-grotesk, sans-serif, arial;
  color: #355182;
  font-size: 16px;
}

.image-container {
  display: grid;
  grid-column: 1, 1;
}

.image-item{
  width: 100%;
}

.footer{
  font-size: 0.5rem;
  text-align: center;
}